{% extends "dissertation/base.html" %}
{% block title %} Supervisors List {% endblock %}
{% block content %}
	<a href="{%  url 'index' %}"><input type="button" class="bback" value="Back"></input></a><br>
	<div class="info">
		List of available supervisors:
	</div>
	<div class="list">
	<ul>
		{% for p in supervisorsList %}
			<li>
				<a href="{% url 'supervisorsList' %}{{ p.user.username }}">
					{{ p.user.first_name }} {{ p.user.last_name }} {{ p.academic_degree }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>

<div class="footer">
  <p>System created by: Ziemowit, Starosta and Michu </p>
</div>

{% endblock %}