{% extends "dissertation/base.html" %}
{% block title %}User Main Page{% endblock %}
{% block content %}
    Welcome, {{ user.get_username }}<br>
    
    <img src="{{ user.profile.picture.url }}" class="ppic">
    <h2>{{ user.get_full_name }}</h2>
    {% if user.profile.is_reviewer %}
        <a href="{% url 'studentsList' %}"><input type="button" class="inguzik" value="Show list of students"></a>
    {% else %}
        <a href="{% url 'supervisorsList' %}"> <input type="button" class="inguzik" value="Show list of supervisors"> </a>
    {% endif %}
    <a href="{%  url 'logout' %}"><input type="button" class="bback" value="Logout"></input></a>
    <div class="fpassl">
    <p><a href="{%  url 'password_change' %}" >Reset password</a></p>
    </div>

<div class="footer">
  <p>System created by: Ziemowit, Starosta and Michu </p>
</div>
    

{% endblock %}