{% extends 'dissertation/base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}



<div class="welcomemess">

	<h1>Welcome to Dissertation System</h1>

</div>

{% if form.errors %}
<p align="center">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p align="center" >Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p align="center">Please login to see this page.</p>
    {% endif %}
{% endif %}


<div class="login">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table class="tabela">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" class="guzik">

<input type="hidden" name="next" value="/dissertation/index/">
</form>


{# Assumes you setup the password_reset view in your URLconf #}
<div class="fpass">
<p><a href="#">Forgot password?</a></p>
</div>

</div>

<div class="footer">
  <p>System created by: Ziemowit, Starosta and Michu </p>
</div>

{% endblock %}