{% extends "dissertation/base.html" %}
{% block title %} Messages {% endblock %}
{% block content %}
    {% if all_messages %}
        <h1 align="center">Here are all your messages</h1>
                        {% for message in all_messages %}
                            {% if user.get_username == message.receiver.user.get_username %}
                                        <p>{{message.sender}} {{message.text}}</p>

                                        <a href="{% url 'start' %}notifications/{{ message.sender.user.username }}/{{ message.id }}/accept/"><input type="button" value="Accept" class="guzior"></a>
                                        <form action="{% url 'rejectStudent' message.id %}" method="post" >
                                            {% csrf_token %}
                                            <input type="hidden" name="message_id" value="{{ message.id }}">
                                            <input type="submit" value="Reject" class="guzior">
                                        </form>
                            {% endif %}

                        {% endfor %}
    {% else %}
        <h3>You don't have any messages</h3>
    {%  endif %}
    <a href="{%  url 'index' %}"><input type="button" class="bback" value="Back"></input></a>
{% endblock %}